pkgbase = texlive-local-abstract
	pkgdesc = TeX Live - local installation of CTAN package abstract
	pkgver = 15878
	pkgrel = 1
	url = http://tug.org/texlive/
	arch = any
	groups = texlive-local
	license = GPL
	depends = texlive-core
	conflicts = texlive-latexextra>=2020.15878
	source = http://mirror.ctan.org/systems/texlive/tlnet/archive/abstract.tar.xz
	sha512sums = 2d805c2cc322cd802d612213ce525765d49d06bfb371a4ac5d1434a3c752af0ba0182093b0b6e4ee28a80ab926ad0f3a0403c03f871d3e003f6eb5a60ae39c34

pkgname = texlive-local-abstract

