pkgbase = texlive-local-changepage
	pkgdesc = TeX Live - local installation of CTAN package changepage
	pkgver = 15878
	pkgrel = 1
	url = http://tug.org/texlive/
	arch = any
	groups = texlive-local
	license = GPL
	depends = texlive-core
	conflicts = texlive-latexextra>=2020.15878
	source = http://mirror.ctan.org/systems/texlive/tlnet/archive/changepage.tar.xz
	sha512sums = 0ef1d3370affd4ffc2ef77031a8713b5c663263802d67142b10fa7fc025569b3914dbbaa5e71e2c643718940a0cb89194d79ec83a83b93fcf5d57e0bfbbdbb46

pkgname = texlive-local-changepage

