pkgbase = texlive-local-todo
	pkgdesc = TeX Live - local installation of CTAN package todo
	pkgver = 17746
	pkgrel = 1
	url = http://tug.org/texlive/
	arch = any
	groups = texlive-local
	license = GPL
	depends = texlive-core
	conflicts = texlive-latexextra>=2020.17746
	source = http://mirror.ctan.org/systems/texlive/tlnet/archive/todo.tar.xz
	sha512sums = e3cd06aa47c36344602a0dccfb48e43c0639cadcb91aa9e787d552c6d3ecca95da3b0f3af8d0f479caad41f657bbcc30016dfd3f80f42285fe8ab02e0a904601

pkgname = texlive-local-todo

