pkgbase = texlive-local-emptypage
	pkgdesc = TeX Live - local installation of CTAN package emptypage
	pkgver = 18064
	pkgrel = 1
	url = http://tug.org/texlive/
	arch = any
	groups = texlive-local
	license = GPL
	depends = texlive-core
	conflicts = texlive-latexextra>=2020.18064
	source = http://mirror.ctan.org/systems/texlive/tlnet/archive/emptypage.tar.xz
	sha512sums = 6379cbd0983ca7b58d2c94ce02a76e054faab1afb2942227469dcf2c4d572d9946921b6d24e9c7d2b5a82cc45e7e380a8ffae671f165ad0e2a3a611b95841352

pkgname = texlive-local-emptypage

