pkgbase = texlive-local-multirow
	pkgdesc = TeX Live - local installation of CTAN package multirow
	pkgver = 51278
	pkgrel = 1
	url = http://tug.org/texlive/
	arch = any
	groups = texlive-local
	license = GPL
	depends = texlive-core
	conflicts = texlive-latexextra>=2020.51278
	source = http://mirror.ctan.org/systems/texlive/tlnet/archive/multirow.tar.xz
	sha512sums = 61a072b45e6caac673ae4e5df536f12ba0bcefb3457099a0a03c73f5177bf94b1f0da056f622d3963e07dd82fc1f18eaf892f2205ad34e221963a07a9458cccb

pkgname = texlive-local-multirow

