pkgbase = texlive-local-enumitem
	pkgdesc = TeX Live - local installation of CTAN package enumitem
	pkgver = 51423
	pkgrel = 1
	url = http://tug.org/texlive/
	arch = any
	groups = texlive-local
	license = GPL
	depends = texlive-core
	conflicts = texlive-latexextra>=2020.51423
	source = http://mirror.ctan.org/systems/texlive/tlnet/archive/enumitem.tar.xz
	sha512sums = d49701368b0ce611f5cfb52ec06616edc27b2dedb99230983ffc59c4c1eadc265a8afd3c94f1e57920de875c4ec684fec007dceca59fd4f4008bb5572c13880c

pkgname = texlive-local-enumitem

