pkgbase = texlive-local-xstring
	pkgdesc = TeX Live - local installation of CTAN package xstring
	pkgver = 49946
	pkgrel = 1
	url = http://tug.org/texlive/
	arch = any
	groups = texlive-local
	license = GPL
	depends = texlive-core
	conflicts = texlive-latexextra>=2020.49946
	source = http://mirror.ctan.org/systems/texlive/tlnet/archive/xstring.tar.xz
	sha512sums = 82254f103053d91eeea4c6230142de06138c392542cac63731c7b34fec5130984bbdebc29ac3b56998717dca11ad444c44f410215b6b89e6748029721a9daac6

pkgname = texlive-local-xstring

