pkgbase = texlive-local-tocloft
	pkgdesc = TeX Live - local installation of CTAN package tocloft
	pkgver = 53364
	pkgrel = 1
	url = http://tug.org/texlive/
	arch = any
	groups = texlive-local
	license = GPL
	depends = texlive-core
	conflicts = texlive-latexextra>=2020.53364
	source = http://mirror.ctan.org/systems/texlive/tlnet/archive/tocloft.tar.xz
	sha512sums = 249b50b4dde3c9b14cfd3a7b00c441007643ad6638996b83a0274bf4126ca8a26f6cfff816c5efc9b6516953cfc29c18905138fe137877ae920e82376afeeab7

pkgname = texlive-local-tocloft

